/*
default text color  : #63676a
text on hover       : #e27533
head base color     : #ffa920
font                : Open Sans,Arial,sans-serif
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #fff;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

/*
  ========================================
  Header
  ========================================
*/
.main-header {
    width: 100%;
    min-width: 1150px;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
}

.logo {
    width: 124px;
    height: 70px;
    float: left;
    /* background: transparent url("../img/transparent_logo.png") center center no-repeat; */
    background-size: 124px 33px;
}

.logo a {
    text-indent: -999em;
    height: 70px;
    display: block;
}

.main-nav,
.main-nav li {
    /* float: left; */
    float: right;
}

.main-nav {
    margin-left: 170px;
}

.main-nav a {
    line-height: 68px;
    display: block;
    padding: 0 30px;
    /* text-transform: uppercase; */
    color: #63676a;
    font-size: 14px;
    font-weight: 700;
}

.main-nav a:hover {
    border-bottom: 2px solid #ffa920;
    color: #ffa920;
}

.account {
    float: right;
}

.account .btn {
    display: inline-block;
    width: 84px;
    height: 36px;
    line-height: 32px;
    border-radius: 20px;
    background: #fff;
    color: #222;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 15px;
    border: 2px solid #fff;
    transition: all .2s ease;
}

.account .btn-secondary {
    color: #fff;
    background: none;
}

.account .btn:hover {
    background: #ccc;
}

.account .btn-secondary:hover {
    background: none;
    border-color: #ccc;
}

/*
  ========================================
  Hero
  ========================================
*/
.hero {
    min-width: 1150px;
    height: 600px;
    background: #333 url("../img/banner_for_header.jpg") center center no-repeat;
    background-size: cover;
    text-align: center;
    overflow: auto;
}

.hero h2 {
    margin-top: 160px;
    font-size: 70px;
    line-height: 60px;
    letter-spacing: -2px;
    /* font-style: italic; */
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffa920;
}

.hero p {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #5B6374;
}